@{
    ViewBag.Title = "Home";
}

<!-- Header -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div id="bannertext" class="col-lg-8 col-lg-offset-2">
                <h1 class="fade-down gap"><span class="pe-7s-chat"></span> Car Repair Application </h1>
                <h2 class="fade-up"> Welcome to Our Application! </h2>
                <div class="spacer"></div>
            </div>
        </div><!-- row -->
    </div><!-- /container -->
    <span class="headerwrap-btn-wrap">
        <a href="#content-wrapper" class="headerwrap-btn"><i class="fade-up fa fa-angle-down"></i></a>
    </span>
</div><!-- /headerwrap -->
<div id="content-wrapper">
    <section id="about" class="section-wrapper">
        <div class="container">
            <div class="centered gap fade-down section-heading">
                <h2 class="main-title">About This Project</h2>
                <hr>                
            </div>
            <div class="row gap">
                <div class="col-md-8 fade-up">
                    <p>This is the culmination of all of I have learned at Centriq these past few months. This project uses the MVC Framework and uses languages such as HTML, CSS, C#, and JavaScript!The purpose of this project is to allow reservations of hotels for business purposes, and for those reservations to be put into various spreadsheets viewable by Owners/Administrators of said business.</p>                    
                </div>
            </div>
        </div>
    </section>
</div>